   

#yellow{
   color: yellow;
}
#red{
    color: red;
 }
 #orange{
    color: orange;
 }
 #green{
    color: green;
 }
 #blue{
    color:  blue;
 }
img{
    height: 200px;
    width: 200px;
}
.color-title{
    font-weight: normal;
}
